<p-table [value]="companies" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-company>
      <tr>
          <td>{{ company.id }}</td>
          <td>{{ company.name }}</td>
          <td>
            <p-button [routerLink]="['/companies/find/', company.id]" label="Clients" icon="pi pi-check" />
            <p-button [routerLink]="['/companies/edit/', company.id]" label="Edit" icon="pi pi-check" />
            <p-button label="Delete" (click)="deleteCompany(company.id); $event.preventDefault()" icon="pi pi-trash" />
          </td>
      </tr>
  </ng-template>
</p-table>
  